.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chevronContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stateShow {
  font-size: 12px;
  font-weight: bold;
  margin: 3px 0px;
}

.chevAndStateContainer {
  width: 25%;
}

.storyContainer {
  margin: 0 auto;
  width: 50%;
}

.rightChevContainer {
  width: 60%;
}

.leftChevContainer {
  width: 40%;
}

.chevContainer svg{
  width: 100%;
  height: 100%;
  transition: fill 0.05s ease-in;
}

.chevContainer svg:hover{
  fill: #616161;
}

.chart_contain {
  display: flex;
  align-items: stretch;
}

.chart_desc {
  text-align: left;
  margin-left: 5px;
}