.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chevronContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chevronContainer svg {
  fill: #01579B
}

.chart_contain svg text {
  fill: #313131
}

.stateShow {
  font-size: 12px;
  font-weight: bold;
  margin: 3px 0px;
}

.chevAndStateContainer {
  width: 15%;
}

.chart_desc {
  width: 85%;
  color: #393939
}

.desc_fade {
  opacity: 0;
  animation: pFade 0.25s ease-in;
  animation-fill-mode: forwards;
}

@keyframes pFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.storyContainer {
  margin: 0 auto;
  width: 50%;
}

.rightChevContainer {
  width: 60%;
}

.leftChevContainer {
  width: 40%;
}

.chevContainer svg{
  width: 100%;
  height: 100%;
  transition: fill 0.05s ease-in;
}

.chevContainer svg:hover{
  fill: #278723;
}

.chart_contain {
  display: flex;
  align-items: stretch;
}

.chart_desc {
  text-align: left;
  margin-left: 5px;
}